* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-sizing: border-box;
	font-size: 14px;
}

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;

	.content {
		width: 1170px;
		max-width: 1170px;
	}
}

body {
	&.open-modal,
	&.open-panel {
		overflow: hidden;
		.container {
			width: calc(100% - 15px);
			margin-right: 25px;
		}
	}

	._zIndex12 {
		.react-date-picker__calendar {
			z-index: 12;
		}
	}
}
